<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.supervisor"
      android:versionCode="1"
      android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="8" />
    
    <uses-permission android:name="android.permission.INTERNET"	></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    
    <application android:name="SupervisorApplication" android:debuggable="true" 
        android:icon="@drawable/keylauncher" android:label="@string/app_name">
        <uses-library android:name="com.google.android.maps"/>
        <activity android:name=".MainScreenActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DefaultMapActivity" ></activity>
        <activity android:name=".PreferencesActivity" android:label="@string/preferences_menu_title"></activity>
        <activity android:name=".TimeActivity"></activity>
        <activity android:name=".TasksActivity"></activity>
        <activity android:name=".SearchActivity">
        </activity>
        <activity android:name=".SingleTaskActivity"></activity>
        <activity android:name=".TimeActivity"></activity>
        <activity android:name=".TasksArchiveActivity"></activity>
        <service android:name=".SynchronisationService"></service>
        <receiver android:name=".NetworkReceiver">
        	<intent-filter >
        		<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
        	</intent-filter>
        </receiver>
        <receiver android:name=".BootReceiver">
        	<intent-filter>
        		<action android:name="android.intent.action.BOOT_COMPLETED" />
        	</intent-filter>
        </receiver>
        
        <receiver android:name=".SyncRequestReceiver">
        	
        </receiver>

    </application>
</manifest>